USE [master]
GO
/****** Object:  Database [Mobile]    Script Date: 9/18/2025 8:31:46 AM ******/
CREATE DATABASE [Mobile]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mobile', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Mobile.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mobile_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Mobile_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mobile].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mobile]
GO
/****** Object:  Table [dbo].[I_thucHanh]    Script Date: 9/18/2025 8:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[I_thucHanh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[II_thucHanh]    Script Date: 9/18/2025 8:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[II_thucHanh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[III_thucHanh]    Script Date: 9/18/2025 8:31:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[III_thucHanh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MSSV] [nvarchar](255) NULL,
	[Ten] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](255) NULL,
 CONSTRAINT [PK_III_thucHanh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[I_thucHanh] ON 

INSERT [dbo].[I_thucHanh] ([Id], [Ten]) VALUES (1, N'Nguyễn A')
INSERT [dbo].[I_thucHanh] ([Id], [Ten]) VALUES (2, N'Nguyễn B')
INSERT [dbo].[I_thucHanh] ([Id], [Ten]) VALUES (3, N'Nguyễn C')
SET IDENTITY_INSERT [dbo].[I_thucHanh] OFF
GO
SET IDENTITY_INSERT [dbo].[II_thucHanh] ON 

INSERT [dbo].[II_thucHanh] ([Id], [Ten], [SoDienThoai]) VALUES (1, N'Nguyễn A', N'082222222')
INSERT [dbo].[II_thucHanh] ([Id], [Ten], [SoDienThoai]) VALUES (2, N'Nguyễn B', N'082222223')
INSERT [dbo].[II_thucHanh] ([Id], [Ten], [SoDienThoai]) VALUES (3, N'Nguyễn C', N'082222224')
SET IDENTITY_INSERT [dbo].[II_thucHanh] OFF
GO
SET IDENTITY_INSERT [dbo].[III_thucHanh] ON 

INSERT [dbo].[III_thucHanh] ([Id], [MSSV], [Ten], [SoDienThoai]) VALUES (3, N'1150070003', N'Nguyễn C', N'082222224')
INSERT [dbo].[III_thucHanh] ([Id], [MSSV], [Ten], [SoDienThoai]) VALUES (4, N'1150070004', N'Nguyễn D', N'082222225')
INSERT [dbo].[III_thucHanh] ([Id], [MSSV], [Ten], [SoDienThoai]) VALUES (5, N'1150070005', N'Nguyễn E', N'082222226')
SET IDENTITY_INSERT [dbo].[III_thucHanh] OFF
GO
USE [master]
GO
